In [2]:
import pandas as pd
import numpy as np

In [4]:
cd drive/MyDrive/Colab\ Notebooks/Bitcoin

/content/drive/MyDrive/Colab Notebooks/Bitcoin

In [5]:
ls

Bitcoin.ipynb  df1.csv     mempool.csv     Untitled0.ipynb
block.txt      df1.gsheet  mempool.gsheet

In [6]:
df = pd.read_csv("mempool.csv")
df

                                                  tx_id  ...                                           parents
0     2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...  ...                                                NaN
1     79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...  ...  6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2     b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...  ...                                                NaN
3     8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...  ...                                                NaN
4     edc82751537be6afcb21c0229d8d20916d8e742a363ab2...  ...                                                NaN
...                                                 ...  ...                                                ...
5209  e0b5d2fe598fccdd716df743323346da227dfc9d2a6c3e...  ...                                                NaN
5210  e33973618a9774aeb85548368efeaddb206ef206717e72...  ...                                                NaN
5211  88a8c7118ac82199523eb10670f49c8b7f5ac82d404907...  ...  33c7c7bcb1cc07743fc3240cac6af31e4d4a8f535cae71...
5212  4c5b18c0870665958fc2a377e425b70f8d01f03395af72...  ...                                                NaN
5213  631dee801c00241fc61bccc56112cf7670ce7150f4c642...  ...                                                NaN

[5214 rows x 4 columns]

In [7]:
df=df.rename(columns={"parents ":"parents"})

In [8]:
df['density'] = df['fee']/df['weight']

In [9]:
print(sum(df.weight))

10431600

In [10]:
df1 = df.sort_values(by=['density'], ascending=False, ignore_index=True)
#df1.to_csv('df1.csv',index=False)

In [12]:
df.columns

Index(['tx_id', 'fee', 'weight', 'parents', 'density'], dtype='object')

In [11]:
df1.shape

(5214, 5)

In [13]:
df1.head()
''' Just checking if parents are null or no. Type float indicates it is null, type string indicates it has parents'''
if (type(df1['parents'][5209])==float):
  print(True)
type(df1['parents'][5209]),type(df1['parents'][0])

(str, float)

In [14]:
type(df1['parents'][23])

float

In [24]:
max_weights=0
max_fees=0
l =[]
indices = []
flag =0
cnt=0
while (max_weights < 4000000 ):
  
  ''' If transaction does not have any parent and the transaction is not already included in the list'''

  if (type(df1['parents'][cnt])==float and cnt not in indices):
    max_fees = df1['fee'][cnt]+max_fees
    max_weights = df1['weight'][cnt]+max_weights
    l.append(df1['tx_id'][cnt])
    #df1 = df1.drop(df.index[cnt])
    indices.append(cnt)
    cnt=cnt+1
  else:
    ''' If transaction has parents print all its parents first'''
    if (df1['parents'][cnt] in l and cnt not in indices):
      max_fees = df1['fee'][cnt]+max_fees
      max_weights = df1['weight'][cnt]+max_weights
      l.append(df1['tx_id'][cnt])
      #df1 = df1.drop(df.index[cnt])
      indices.append(cnt)
      #print(cnt)
      cnt=cnt+1
      
    else:
      #print(cnt)
      #print(cnt, df1[df1['tx_id']==df1['parents'][cnt]].index.values)
      idx = cnt
     # max_fees = df1['fee'][cnt]+max_fees
      #max_weights = df1['weight'][cnt]+max_weights
      l1=[]
      #print(idx)
      if (cnt not in indices):
        while (type(df1['parents'][int(idx)])!=float and max_weights<4000000 and int(idx) not in indices):
          #print(idx)
          #l.append(df1['parents'][cnt])
          l1.append(df1['tx_id'][int(idx)])
          max_fees = df1['fee'][int(idx)]+max_fees
          max_weights = df1['weight'][int(idx)]+max_weights
          temp = int(idx)
          indices.append(int(idx))
          idx=df1[df1['tx_id']==df1['parents'][int(idx)]].index.values
          #df1 = df1.drop(df.index[temp])
          #print("$$$",type(idx),idx.size)
          if (idx.size==0):
            flag = 1
            break
            
          # print("True")
      # print("$$$",int(idx))
        if (flag==0 and int(idx) not in indices):
          if (type(df1['parents'][int(idx)])==float and max_weights<4000000):
           # print(int(idx),"***")
            l1.append(df1['tx_id'][int(idx)])
            indices.append(int(idx))
            max_fees = df1['fee'][int(idx)]+max_fees
            max_weights = df1['weight'][int(idx)]+max_weights
          # df1 = df1.drop(df.index[int(idx)])
          
            for i in reversed(l1):
              l.append(i)              


      # print(df[df[â€˜Nameâ€™]==â€™Donnaâ€™].index.values)
      cnt=cnt+1
      
''' If including the last transaction exceeds the limit, delete it'''
if (max_weights>4000000):
  idx=df1[df1['tx_id']==l[-1]].index.values
  l.pop()
  max_fees = max_fees-df1['fee'][int(idx)]
  max_weights = max_weights - df1['weight'][int(idx)]
print("Weights : ", max_weights)
print("Total Fees:", max_fees)
l[-1]

Weights :  3999036
Total Fees: 5724849

'0e3d9051649e81accb7eeaa0fc16c9f23f45044bca53bb66d2b2111160c0cd09'

In [28]:
f = open('block.txt','w')
for i in l:
  f.write(i+"\n")
f.close

In [27]:
s = set(l)
len(l), len(s)

(2216, 2216)